[Unit]
Description=npc client
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
#EnvironmentFile=/etc/npc.zx
#ExecStart=/usr/local/bin/npc -server $SERVER -vkey $VKEY
ExecStart=/usr/local/bin/npc -config /etc/npc.conf
Restart=on-failure
RestartSec=30s

User=app
Group=app

[Install]
WantedBy=multi-user.target
