[Unit]
Description=crypt disk data mnt-wind.mount
After=crypt-mnt-data.service
Requires=crypt-mnt-data.service

[Mount]
Where=/mnt/data
What=/dev/disk/by-uuid/c7bc3714-98a8-4901-b69a-faf6479f68df
Type=ext4

[Install]
WantedBy=local-fs.target
