[Unit]
Description=cryptsetup open <device>
After=local-fs.target
Wants=local-fs.target
PartOf=mnt-data.mount


[Service]
Type=oneshot
RemainAfterExit=yes
Environment="UUID=6c9628f6-bbaf-4c0f-8442-d587ba521423" "NAME=data"
ExecStart=/usr/bin/systemd-cryptsetup attach ${NAME} /dev/disk/by-uuid/${UUID} /etc/luks/keyfile.bin
ExecStop=/usr/bin/systemd-cryptsetup detach ${NAME}

