# /etc/systemd/system/node_exporter.service
[Unit]
Description=prometheus node_exporter

[Service]
Type=simple
ExecStart=%h/.local/bin/node_exporter

[Install]
WantedBy=default.target
